{% extends 'website/common/layout.html' %}
{% load bootstrap %}

{% block post_content %}
<h3>{{request.user.email}}</h3>
<hr/>
{% if request.user.avatar %}
<img src="{{request.user.avatar.url}}"/>
{% endif %}
<p>Имя: {{request.user.first_name}}</p>
<p>Фамилия: {{request.user.last_name}}</p>
<p>Телефон: {{request.user.phone|default:"не указан"}}</p>
<p>Скайп: {{request.user.skype|default:"не указан"}}</p>
<br>
<a href="{% url 'account_edit' %}">Редактировать</a>
<hr/>
<h3>Публикации</h3>
<a href="{% url 'account_post_create' %}" class='btn btn-warning'>Создать пост</a>
<br/><br/>

  <table class='table'>
    <tr>
      <td>Наименование поста</td>
      <td>Черновик</td>
      <td>Действия</td>
    </tr>
      {% for p in posts %}
      <tr>
        <td><a href="{% url 'post' p.slug %}">{{p.title}}</a></td>
        <td>{{p.is_draft}}</td>
        <td><a href="{% url 'post_edit' p.slug %}" class="btn btn-default">Редактировать</a>&nbsp;
        <a href="{% url 'post_delete' p.slug %}" class="btn btn-default">Удалить</a></td>
      </tr>
      {% endfor %}

  </table>
{% endblock %}
