<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
          <div class="pull-right">
{% if user.is_authenticated %}
          <a class="blog-nav-item" href="{% url 'logout' %}">Выход</a>
{% else %}
          <a class="blog-nav-item" href="{% url 'login' %}">Вход</a>

          <a class="blog-nav-item" href="{% url 'registration' %}">Регистрация</a>
{% endif %}
</div>
        </nav>
      </div>
    </div>
